<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>-->
	</appSettings>
	<system.web>
		<compilation debug="true"/>
	</system.web>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="ISOTcpBinding" closeTimeout="10:50:00" openTimeout="10:50:00" receiveTimeout="10:50:00" sendTimeout="10:50:00" transactionFlow="false" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" portSharingEnabled="false">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647"/>
					<reliableSession inactivityTimeout="10:50:00"/>
					<security mode="None"/>
				</binding>
			</netTcpBinding>
		</bindings>
		<services>
			<service behaviorConfiguration="ISOTcpBehavior" name="ISOServiceLibrary.ISOService">
				<endpoint address="net.tcp://localhost:9021" binding="netTcpBinding" bindingConfiguration="ISOTcpBinding" name="ISOTcpEndpoint" contract="ISOServiceLibrary.ISOIService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="net.tcp://localhost:9021/mex" binding="mexTcpBinding" bindingConfiguration="" name="ISOTcpMetaData" contract="IMetadataExchange"/>
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:9021/ISOServiceLibrary.PService"/>
					</baseAddresses>
					<timeouts closeTimeout="10:50:00" openTimeout="10:50:00"/>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ISOTcpBehavior">
					<serviceMetadata/>
					<serviceDebug/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<connectionStrings>
		<add name="ISOFormatEntities" connectionString="metadata=res://*/ISOModel.csdl|res://*/ISOModel.ssdl|res://*/ISOModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ISOFormat;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<startup/></configuration>
